* {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
    color: rgb(107, 103, 107);
    padding: 5px;
}
h1, h2 {
    color: maroon;
}
h3 {
    color: midnightblue;
}
body {
    width: 80%;
    margin: auto;
}
#profile-picture {
    margin: auto;
}
.photo-container {
   display: flex;
}
#about {
    text-align: center;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
